.navbar {
    .logo {
        color: $primary;
    }

    .navbar-brand {
        font-weight: $font-weight ;
    }

    .nav-link:hover {
        color: $primary;
    }

    .btn-outline:hover {
        color: $light;
        background-color: $primary;
    }

    .shadow-sm {
        width: 98%;
        margin-top: 20px;
    }

    #active {
        color: $primary;
    }
    .btn{
        padding: 8px 30px;
    }

}