#sliderPhoto .col-lg-4 {
    margin-bottom: 10%;

    .card-blog {
        min-height: 300px;
        max-width: 320px;
    }

    .footer {
        position: absolute;
        left: 20px;
    }

    .fa-solid {
        color: $primary;
    }
}